<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop - 2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spicy+Rice%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono%3A400"/>
  <link rel="stylesheet" href="./main/styles/desktop-2.css"/>
  
</head>
<body>
<div class="desktop-2-6zR">
  <audio  id="audio" preload="auto" autoplay="auto" loop  >
    <source type="audio/mp3" src="./main/assets/creepy-devil-dance-166764.mp3">
</audio>
  <div class="headeringame-2NH">
    <p class="code-kofm-XZw">Code:  KOFM</p>
    <img class="vector-SB7" id="nut" src="./main/assets/vector-5s3.png"/>
  </div>
  <div class="auto-group-hebm-LnH">
    <div class="auto-group-bsnx-sXK">
      <p class="waiting-for-1-player-to-start-PEm">Waiting for 1 Player to start</p>
      <img class="bombpartyroom-1-rPF" src="./main/assets/bombpartyroom-1.png"/>
      <div class="auto-group-ewup-xx5" id="join-game">Join The Game</div>
    </div>
    <div class="auto-group-teip-CbX">
      <p class="chat-room-7iV">Chat Room</p>
      <div class="chat" id="chat">
        {{!-- <p class="usernam1-hello-DmX">Usernam1: Hello</p> --}}
       
      </div>
      
      <input id="chatbar" class="auto-group-pvek-1sj" placeholder="Type Here to chat" value="{{idPlayer}}">
    </div>
  </div>
</div>
</body>
<script src="./main/ScriptChung.js"></script>
<script>
var joinGame=document.querySelector("#join-game");
var idPlayer={{idPlayer}};
var UserName=`{{UserName}}`;
var Mang=[idPlayer,UserName];
joinGame.onclick=function()
{ 
   window.location.href = `http://localhost:3000/bombparty/${Mang}`;
}
</script>