<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Room After Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spicy+Rice%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ruda%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Leckerli+One%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trocchi%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+Mono+One%3A400"/>
  <link rel="stylesheet" href="main/styles/room-after-login.css"/>

</head>
<body>
<div class="room-after-login-pgV">
  <!-- Header + Banner + Vào Game + Tìm Phòng -->
  <div class="auto-group-vjm9-453">
    <!-- Khu vực Game mode -->
    <div class="start-the-game-V3s">
      <p class="game-mode-8sX">Game Mode</p>
      <!-- 4 mode game ở đây -->
      <div class="auto-group-xee7-pEZ">
        <!-- mode game 1 -->
        <div class="group-2-7Df choose">
          <div class="rectangle-3-cw7">
          </div>
          <p class="randomize-t1T">Randomize</p>
          <div class="ramdomize-1-Mfj">
          </div>
        </div>
<!-- khối 3 mode game còn lại -->
        <div class="auto-group-5oz3-euj">

           <!-- mode game 2 -->
          <div class="group-1-LGm choose">
            <div class="rectangle-2-DLZ">
            </div>
            <img class="bombparty-1-KeV" src="main/assets/bombparty-1.png"/>
            <p class="bomb-qMw">
            Bomb
            <br/>
            
            </p>
            <p class="party-K2D">Party</p>
          </div>
           <!-- mode game 3 -->
          <div class="group-3-oxy choose">
            <div class="rectangle-4-uWD">
            </div>
            <p class="detective-DG1">Detective</p>
            <p class="word-hws">Word</p>
            <img class="detective-1-pFo" src="main/assets/detective-1.png"/>
          </div>
           <!-- mode game 4 -->
          <div class="dance-YSh choose">
            <div class="rectangle-5-4R3">
            </div>
            <img id="Dance" class="harvestfestival-1-NwX" src="main/assets/harvestfestival-1.png"/>
            <p class="harvest-festival-VWM">Harvest Festival</p>
          </div>

        </div>
      </div>
      <!-- Xong 4 mode game qua phần tiếp theo là tạo room mới -->
      <div class="auto-group-gh23-wdF">
        <!-- input nhập mã room mới, randome ko cho người dùng nhập -->
        <input type="text" class="rectangle-6-EsF"  value="{{Username.Username}}'s room" >
        <!-- chọn room public hay private -->
        <div class="public-private-7RF">
          <!-- Khối bên trái màn hình -->
          <div class="rectangle-7-FXT" >
          </div>
          <!-- khối bên phải màn hình -->
          <div class="rectangle-8-BAD" >
          </div>
          <!-- khối màu cam -->
          <div class="rectangle-9-tqK" id="Mid">
          </div>
          <!-- thông tin public -->
          <div class="group-6-D6u" id="Left">
            <img class="earth-1-iJZ" src="main/assets/earth-1.png"/>
            <p class="public-1Hf">Public</p>
          </div>
          <!-- thông tin private -->
          <div class="group-5-vfX" id="Right">
            <img class="lock-1-dK3" src="main/assets/lock-1.png"/>
            <p class="private-ZCh">Private</p>
          </div>
        </div>
      </div> 
      <!-- button tạo mới room -->
      <div class="auto-group-pycs-sUH" id="createNewRoom">Let Start The Game</div>
    </div>
      <!-- banner  -->
    <img class="banner2-1-f9F" src="main/assets/banner2-1.png"/>
    <!-- khu vực tham gia room qua mã code -->
    <div class="code-join-room-Yyj">
      <p class="join-private-room-SpD">Join Private Room</p>
      <!-- textbox nhập mã code với button join room -->
      <div class="auto-group-kybh-n7P">
        <p class="code--JrR">code:</p>
        <input id="codeJoinRoom" type="text" class="rectangle-10-dNu" maxlength="4" placeholder="????">
        <div class="group-9-jwj">
          <div class="rectangle-10-h7s">
          </div>
          <p class="join-room-dGR" id="joinRoom">Join Room</p>
        </div>
      </div>
    </div>
    <!-- khu vực tin tức -->
    <div class="group-10-dQq">
      <div class="auto-group-mabv-xT7">
        <img class="paper-1-gP7" src="main/assets/paper-1.png"/>
        <p class="news-26-11-2023-Ddw">News - 26-11-2023</p>
      </div>
      <p class="hi-there-wed-love-to-say-that-we-are-so-happy-when-you-are-here-we-will-try-our-best-to-give-the-greatest-experiment-j6V">Hi there! We’d love to say that we are so happy when you are here, we will try our best to give the greatest experiment</p>
      <div class="auto-group-swaw-ABo">
        <div class="auto-group-7qdd-RdX">
          <a href="https://jklm.fun/"><img class="meta-1-ZDw" src="main/assets/meta-1.png"/></a>
          <a href="https://jklm.fun/"><img class="insta-1-H9w" src="main/assets/insta-1.png"/></a>
        </div>
        <a href="https://jklm.fun/"><img class="x-1-DJV" src="main/assets/x-1.png"/></a>
        <a href="https://jklm.fun/"><img class="youtube-1-Ybf" src="main/assets/youtube-1.png"/></a>
      </div>
    </div>
    <!-- header -->
    <div class="header-gC5">
      <!-- Logo -->
      <div class="auto-group-uqwj-Nqb">
        <a href="/"  class="explosive-w-rd-hcy">Explosive W &nbsprd</a>
        <img class="bm-1-oAD" src="main/assets/bm-1-Mss.png"/>
      </div>
      <img class="dog-1-tBf" src="main/assets/dog-1.png"/>
      <!-- chổ đổi tên -->
      <div class="auto-group-5zpd-Cy3">
        <img class="ei-user-v8M" src="main/assets/ei-user.png"/>
        <!-- <p class="username1-MzM">username1</p> -->
        <input type="text" class="username1-MzM" placeholder="UserName1" maxlength="12" value="{{Username.Username}}">
      </div>
    </div>

  </div>
  <!-- Các Room game ở dưới -->
  <div class="auto-group-vcr1-G5j" id="autoGroup">
    <!-- chổ để filter room -->
    <div class="auto-group-byt5-ZKj">
      <p class="available-room-for-u-to-join-Rsj">Available room for U to Join</p>
      <div class="auto-group-hmqx-LUu">
        <input type="text" class="auto-group-tdjr-HQ9" placeholder="Language....">
        <div class="auto-group-ebgf-teq">Refresh</div>
      </div>
    </div>
    <!-- các room-->
    <div class="auto-group-heuk-wd7" id="roomContainer">
      <!-- Room1 -->
      <div class="bombparty-room-TbT">
        <div class="rectangle-11-B1f">
        </div>
        <div class="line-1-SiH">
        </div>
        <img class="bombparty-2-a3o" src="main/assets/bombparty-2-SsP.png"/>
        <p class="bombparrty-english-gcd">BombParrty (English)</p>
        <p class="fmhk-m8H">FMHK</p>
        <p class="username1s-room-gFF">UserName1’s Room</p>
      </div>
      <!-- Room2 -->
      <div class="bombparty-room-TbT">
        <div class="rectangle-11-B1f">
        </div>
        <div class="line-1-SiH">
        </div>
        <img class="bombparty-2-a3o" src="main/assets/bombparty-2-SsP.png"/>
        <p class="bombparrty-english-gcd">BombParrty (English)</p>
        <p class="fmhk-m8H">FMHK</p>
        <p class="username1s-room-gFF">UserName1’s Room</p>
      </div>
      <!-- Room3 -->
      <div class="bombparty-room-TbT">
        <div class="rectangle-11-B1f">
        </div>
        <div class="line-1-SiH">
        </div>
        <img class="bombparty-2-a3o" src="main/assets/bombparty-2-SsP.png"/>
        <p class="bombparrty-english-gcd">BombParrty (English)</p>
        <p class="fmhk-m8H">FMHK</p>
        <p class="username1s-room-gFF">UserName1’s Room</p>
      </div>
          <!-- Room3 -->
          <div class="bombparty-room-TbT">
            <div class="rectangle-11-B1f">
            </div>
            <div class="line-1-SiH">
            </div>
            <img class="bombparty-2-a3o" src="main/assets/bombparty-2-SsP.png"/>
            <p class="bombparrty-english-gcd">BombParrty (English)</p>
            <p class="fmhk-m8H">FMHK</p>
            <p class="username1s-room-gFF">UserName1’s Room</p>
          </div>    
        
           <!-- Room3 -->
           <div class="bombparty-room-TbT">
            <div class="rectangle-11-B1f">
            </div>
            <div class="line-1-SiH">
            </div>
            <img class="bombparty-2-a3o" src="main/assets/bombparty-2-SsP.png"/>
            <p class="bombparrty-english-gcd">BombParrty (English)</p>
            <p class="fmhk-m8H">FMHK</p>
            <p class="username1s-room-gFF">UserName1’s Room</p>
          </div>    
        
           <!-- Room3 -->
           <div class="bombparty-room-TbT">
            <div class="rectangle-11-B1f">
            </div>
            <div class="line-1-SiH">
            </div>
            <img class="bombparty-2-a3o" src="main/assets/bombparty-2-SsP.png"/>
            <p class="bombparrty-english-gcd">BombParrty (English)</p>
            <p class="fmhk-m8H">FMHK</p>
            <p class="username1s-room-gFF">UserName1’s Room</p>
          </div>    
           <!-- Room3 -->
           <div class="bombparty-room-TbT">
            <div class="rectangle-11-B1f">
            </div>
            <div class="line-1-SiH">
            </div>
            <img class="bombparty-2-a3o" src="main/assets/bombparty-2-SsP.png"/>
            <p class="bombparrty-english-gcd">BombParrty (English)</p>
            <p class="fmhk-m8H">FMHK</p>
             <p class="username1s-room-gFF">UserName1’s Room</p>
            {{!-- <p class="username1s-room-gFF">{{rooms}}</p> --}}
          </div>    
       
        
    </div>

   
  </div>
  <!-- footer -->
  <div class="footer-tf7">
    <img class="lab-1-p2y" src="main/assets/lab-1.png"/>
    <p class="hope-you-enjoy-the-game-Jyj">Hope You Enjoy The Game!</p>
    <p class="nhm-se400-Zem">Nhóm..... SE400</p>
  </div>
</div>
<script>
var Username={{{json Username}}}.Username;
</script>
<script src="socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="main/Room-after-login.js">
</script>

</body>
