
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-7-Fuf {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #010101;
  width: 100%;
  overflow: hidden;
  position: relative;

  .headeringame-zcM {
    margin-bottom: 0.4rem;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #e9ac37;
    box-sizing: border-box;
    padding: 0.8rem 2.495rem 0.4rem 1.3rem;
    width: 100%;
    overflow: hidden;

    .code-kofm-bs3 {
      font-family: Spicy Rice, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 120rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3775;
      color: #ffffff;
    }
    .vector-7aV {
      margin-bottom: 0.5rem;
      width: 4.0051rem;
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-tskf-2xM {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 3.4rem;
    width: calc(100% - 3.4rem);
    height: 84.6rem;

    .auto-group-au75-ZhP {
      box-sizing: border-box;
      padding: 1.1rem 7rem 1.1rem 0rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-svrw-5Qq {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1rem 15.5rem 0rem 0rem;
        width: 21.9rem;

        .vote-baby-zXo {
          flex-shrink: 0;
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #fffdfd;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-evkt-vgM {
          padding: 17.7rem 0.8rem 0rem 0.8rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-5ofq-esF {
            margin-bottom: 0.5017rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .heart-7-QLd {
              margin-right: 0.0153rem;
              width: 4.9564rem;
              height: 4.4983rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .heart-8-KiV {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.0154rem;
              width: 4.9564rem;
              height: 4.4983rem;
              object-fit: cover;
            }
            .heart-9-fGZ {
              width: 4.9564rem;
              height: 4.4983rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .group-12-PCZ {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 3.0797rem;
            align-items: center;
            display: flex;

            .bat-1-LNh {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 1.0642rem;
              width: 14.6203rem;
              height: 10.8358rem;
              object-fit: cover;
            }
            .username3-s7j {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.3775;
              color: #fbf3f3;
              font-family: Spicy Rice, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.0203rem;
            }
          }
        }
      }
      .auto-group-rwif-ygZ {
        margin-right: 18.9rem;
        width: 17.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-cxaf-i8M {
          height: 4.4983rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 0rem 0.902rem 0.7rem;
          width: 16.5rem;

          .heart-10-2eq {
            object-fit: cover;
            vertical-align: top;
            width: 4.9564rem;
            height: 4.4983rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .whiteheart-1-Am3 {
            height: 4.3574rem;
            position: absolute;
            left: 4.6rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 6.5rem;
          }
          .whiteheart-2-JcM {
            left: 10rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 6.5rem;
            height: 4.3574rem;
            position: absolute;
          }
        }
        .group-11-q6V {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 2.5rem 7.326rem 2.9rem;
          width: calc(100% - 5.4rem);

          .mokey-1-mF3 {
            width: 11.0946rem;
            height: 12.8736rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
          }
          .username4-heV {
            color: #fbf3f3;
            font-family: Spicy Rice, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.3775;
          }
        }
        .auto-group-hj8j-S6H {
          height: 19.9rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 0.8rem 7.7rem 0rem;
          width: 16.4rem;

          .dog-jbB {
            font-weight: 400;
            color: #fffdfd;
            line-height: 1.3775;
            font-family: Spicy Rice, 'Source Sans Pro';
            width: 8.1rem;
            height: 6.7rem;
            position: absolute;
            left: 3.5rem;
            top: 13.2rem;
            font-size: 4.8rem;
            white-space: nowrap;
          }
          .mysterybox-2-2qB {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 16.4rem;
            height: 13.5525rem;
          }
        }
        .auto-group-v3md-mGy {
          height: 20.0708rem;
          position: relative;
          flex-shrink: 0;
          margin-left: 0.5rem;
          width: 16.3rem;

          .group-14-Vyf {
            width: 12.2rem;
            height: 15.7708rem;
            position: absolute;
            left: 1.3rem;
            top: 4.3rem;

            .chicken-1-EgM {
              margin-bottom: 0.5rem;
              width: 10.1242rem;
              height: 11.8709rem;
              object-fit: cover;
              vertical-align: top;
            }
            .username2-Apu {
              margin-left: 0.4rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.3775;
              color: #fbf3f3;
              font-family: Spicy Rice, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .heart-4-JAR {
            width: 4.9564rem;
            height: 4.4983rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
          .whiteheart-5-F5f {
            vertical-align: top;
            width: 6.5rem;
            height: 4.3574rem;
            position: absolute;
            left: 4.4rem;
            top: 0.2rem;
            object-fit: cover;
          }
          .whiteheart-6-NAH {
            width: 6.5rem;
            height: 4.3574rem;
            position: absolute;
            left: 9.8rem;
            top: 0.2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
      .auto-group-q1st-HHF {
        margin: 21.4rem 0rem 37.364rem 0rem;
        width: 16.9rem;
        height: calc(100% - 58.7636rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-dj7z-zxM {
          align-items: flex-start;
          flex-shrink: 0;
          margin-bottom: 1.4017rem;
          width: 100%;
          display: flex;

          .heart-1-94Z {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.0436rem;
            width: 4.9564rem;
            height: 4.4983rem;
          }
          .auto-group-uv6j-UMj {
            width: 11.9rem;
            height: 4.3574rem;
            position: relative;
            flex-shrink: 0;

            .whiteheart-3-cD3 {
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 6.5rem;
              height: 4.3574rem;
              position: absolute;
            }
            .whiteheart-4-wWD {
              object-fit: cover;
              vertical-align: top;
              width: 6.5rem;
              height: 4.3574rem;
              position: absolute;
              left: 5.4rem;
              top: 0;
            }
          }
        }
        .group-13-rt5 {
          margin: 0rem 1.1rem 0rem 2.5rem;
          width: calc(100% - 3.6rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .baby-1-BvM {
            width: 10.4492rem;
            height: 13.8364rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.761rem 0rem 0rem;
          }
          .username1-i9b {
            font-size: 2.7865rem;
            font-weight: 400;
            line-height: 1.3775;
            color: #fbf3f3;
            font-family: Spicy Rice, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-aj15-qk1 {
      box-sizing: border-box;
      padding-bottom: 0.6rem;
      width: 44.7rem;
      height: 100%;
      background-color: rgba(31, 24, 24, 0.6899999976);
      flex-shrink: 0;

      .chat-room-9kh {
        line-height: 1.3775;
        color: #ffffff;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 4rem 11.5rem;
        font-size: 4.8rem;
        font-weight: 400;
      }
      .usernam1-hello-fDF {
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
      }
      .username2-hello-bro-NdT {
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .usernam1-hello-HVX {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
      }
      .username2-hello-bro-CMb {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
      }
      .usernam1-hello-umo {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .username2-hello-bro-2bX {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .usernam1-hello-kXX {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .username2-hello-bro-SQM {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
      }
      .usernam1-hello-9Jm {
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
      }
      .username2-hello-bro-Fsb {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 6.6rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .auto-group-vzso-y2u {
        font-family: Spicy Rice, 'Source Sans Pro';
        background-color: #f9f9f9;
        border-radius: 1rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #0f0f0f;
        box-sizing: border-box;
        padding: 3.4rem 1.4rem 2.6rem 1.4rem;
        width: 43.1rem;
        white-space: nowrap;
      }
    }
  }
}
