
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-8-fQR {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #010101;

  .headeringame-DRw {
    margin-bottom: 0.4rem;
    padding: 0.8rem 2.495rem 0.4rem 1.3rem;
    position: relative;
    background-color: #e9ac37;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;

    .code-kofm-w73 {
      color: #ffffff;
      font-family: Spicy Rice, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 120rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3775;
    }
    .vector-fHw {
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      width: 4.0051rem;
    }
  }
  .auto-group-pwab-C2y {
    flex-shrink: 0;
    margin-left: 1.3rem;
    width: calc(100% - 1.3rem);
    height: 84.6rem;
    display: flex;
    align-items: center;

    .auto-group-dxph-8BX {
      width: 98.5rem;
      height: calc(100% - 16rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 4.9rem 1rem 11.1rem 0rem;

      .auto-group-vsm9-FX3 {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 2.1938rem;
        width: 100%;
        height: 59.5063rem;

        .waiting-for-1-player-to-start-oHf {
          font-size: 4.8rem;
          line-height: 1.3775;
          white-space: nowrap;
          top: 0;
          height: 6.7rem;
          position: absolute;
          left: 21.1rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Spicy Rice, 'Source Sans Pro';
          width: 57.1rem;
        }
        .harvestfestivalroom-1-VAV {
          width: 98.5rem;
          height: 55.4063rem;
          position: absolute;
          left: 0;
          top: 4.1rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-ycvr-cF7 {
        font-weight: 400;
        white-space: nowrap;
        margin: 0rem 22.1rem 0rem 35.4rem;
        height: 6.9rem;
        text-align: center;
        background-color: #90ed47;
        width: calc(100% - 57.5rem);
        color: #000000;
        display: flex;
        align-items: center;
        border-radius: 2.7768rem;
        flex-shrink: 0;
        font-size: 3.2744rem;
        line-height: 1.3775;
        font-family: Spicy Rice, 'Source Sans Pro';
        justify-content: center;
      }
    }
    .auto-group-pgqb-Szq {
      padding-bottom: 0.6rem;
      width: 44.7rem;
      height: 100%;
      background-color: rgba(31, 24, 24, 0.6899999976);
      flex-shrink: 0;
      box-sizing: border-box;

      .chat-room-vQD {
        line-height: 1.3775;
        color: #ffffff;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 4rem 11.5rem;
        font-size: 4.8rem;
        font-weight: 400;
      }
      .usernam1-hello-Efo {
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .username2-hello-bro-kPF {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
      }
      .usernam1-hello-GMb {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .username2-hello-bro-Ph7 {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .usernam1-hello-XHX {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .username2-hello-bro-esw {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
      }
      .usernam1-hello-BN5 {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
      }
      .username2-hello-bro-WfF {
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
      }
      .usernam1-hello-2tV {
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
      }
      .username2-hello-bro-AE1 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 6.6rem 1.8rem;
      }
      .auto-group-gmb9-HZX {
        line-height: 1.3775;
        color: #0f0f0f;
        border-radius: 1rem;
        padding: 3.4rem 1.4rem 2.6rem 1.4rem;
        font-size: 3rem;
        font-weight: 400;
        white-space: nowrap;
        background-color: #f9f9f9;
        box-sizing: border-box;
        width: 43.1rem;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
    }
  }
}
