
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-6zR {
  flex-direction: column;
  background-color: #010101;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;

  .headeringame-2NH {
    padding: 0.8rem 2.495rem 0.4rem 1.3rem;
    width: 100%;
    display: flex;
    margin-bottom: 0.4rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color: #e9ac37;
    flex-shrink: 0;

    .code-kofm-XZw {
      font-family: Spicy Rice, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 120rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3775;
      color: #ffffff;
    }
    .vector-SB7 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      width: 4.0051rem;
      height: 3.2rem;
    }
  }
  .auto-group-hebm-LnH {
    flex-shrink: 0;
    margin-left: 3rem;
    width: calc(100% - 3rem);
    height: 84.6rem;
    display: flex;
    align-items: center;

    .auto-group-bsnx-sXK {
      margin: 5.1rem 4.2rem 11.1rem 0rem;
      width: 93.6rem;
      height: calc(100% - 16.2rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .waiting-for-1-player-to-start-PEm {
        font-weight: 400;
        line-height: 1.3775;
        color: #ffffff;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 1.9rem 17.3rem 0rem;
        font-size: 4.8rem;
      }
      .bombpartyroom-1-rPF {
        margin-bottom: 18.5405rem;
        width: 93.6rem;
        height: 18.9595rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-ewup-xx5 {
        font-family: Spicy Rice, 'Source Sans Pro';
        justify-content: center;
        margin: 0rem 18.9rem 0rem 33.7rem;
        color: #000000;
        line-height: 1.3775;
        display: flex;
        border-radius: 2.7768rem;
        font-size: 3.2744rem;
        font-weight: 400;
        flex-shrink: 0;
        white-space: nowrap;
        background-color: #90ed47;
        text-align: center;
        align-items: center;
        width: calc(100% - 52.6rem);
        height: 6.9rem;
      }
    }
    .auto-group-teip-CbX {
      box-sizing: border-box;
      padding-bottom: 0.6rem;
      width: 44.7rem;
      height: 100%;
      background-color: rgba(31, 24, 24, 0.6899999976);
      flex-shrink: 0;

      .chat-room-7iV {
        color: #ffffff;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 4rem 11.5rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.3775;
      }
      .usernam1-hello-DmX {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .username2-hello-bro-wBj {
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
      .usernam1-hello-TA5 {
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .username2-hello-bro-PJd {
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .usernam1-hello-7kR {
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
      .username2-hello-bro-rCD {
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
      }
      .usernam1-hello-y1w {
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .username2-hello-bro-gww {
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
      }
      .usernam1-hello-oWm {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
      }
      .username2-hello-bro-8J9 {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 6.6rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .auto-group-pvek-1sj {
        padding: 3.4rem 1.4rem 2.6rem 1.4rem;
        font-weight: 400;
        color: #0f0f0f;
        font-family: Spicy Rice, 'Source Sans Pro';
        background-color: #f9f9f9;
        box-sizing: border-box;
        width: 43.1rem;
        font-size: 3rem;
        line-height: 1.3775;
        white-space: nowrap;
        border-radius: 1rem;
      }
    }
  }
}
