
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-9-BTb {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #010101;

  .headeringame-wBs {
    overflow: hidden;
    position: relative;
    display: flex;
    background-color: #e9ac37;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    margin-bottom: 0.4rem;
    padding: 0.8rem 2.495rem 0.4rem 1.3rem;

    .code-kofm-4XP {
      font-family: Spicy Rice, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 120rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3775;
      color: #ffffff;
    }
    .vector-bGR {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      width: 4.0051rem;
      height: 3.2rem;
      object-fit: contain;
    }
  }
  .auto-group-c9pq-KiD {
    width: calc(100% - 25.2rem);
    height: 84.6rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 25.2rem;

    .auto-group-lgcs-Frm {
      height: calc(100% - 5.1rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 3.1rem 18.5rem 2rem 0rem;
      width: 57.1rem;

      .waiting-for-1-player-to-start-n61 {
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #ffffff;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-pyjk-W21 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.8rem 0.9rem 0rem 1.7rem;
        width: 100%;
        align-items: center;

        .mokey-1-Dh7 {
          height: 12.8736rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 1.1rem 0.795rem;
          width: 11.0946rem;
        }
        .username4-YUV {
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 0.526rem 1.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #fbf3f3;
        }
        .auto-group-cvvd-TrM {
          margin-bottom: 1.2rem;
          width: 100%;
          height: 16.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-v1d5-ofK {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 1.5rem 5.18rem 0rem 0rem;

            .bat-1-jYy {
              flex-shrink: 0;
              margin-bottom: 1.0642rem;
              width: 14.6202rem;
              height: 10.8358rem;
              object-fit: cover;
              vertical-align: top;
            }
            .username3-fhX {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.3775;
              color: #fbf3f3;
              font-family: Spicy Rice, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.0202rem;
            }
          }
          .harvestroom-1-bLH {
            margin: 0rem 5.975rem 1.2rem 0rem;
            width: 17.325rem;
            height: 15.6rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-rx8k-iQu {
            margin: 0.9rem 0rem 0.6rem 0rem;
            width: 11.4rem;
            height: calc(100% - 1.5rem);
            position: relative;
            flex-shrink: 0;

            .username1-rGD {
              width: 11.4rem;
              height: 3.4rem;
              top: 11.9rem;
              font-size: 2.4rem;
              line-height: 1.3775;
              position: absolute;
              left: 0;
              font-weight: 400;
              color: #fbf3f3;
              font-family: Spicy Rice, 'Source Sans Pro';
              white-space: nowrap;
            }
            .baby-1-ZwK {
              height: 11.9174rem;
              position: absolute;
              left: 0.9rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 9rem;
            }
          }
        }
        .chicken-1-tyb {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.976rem 0.5rem 0rem;
          width: 10.1242rem;
          height: 11.8709rem;
          object-fit: cover;
        }
        .username2-2a1 {
          margin: 0rem 0rem 10.829rem 1.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #fbf3f3;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-m4bm-9ed {
          border-radius: 2.7768rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          width: calc(100% - 34.6rem);
          justify-content: center;
          text-align: center;
          font-size: 3.2744rem;
          align-items: center;
          background-color: #ed4747;
          margin: 0rem 18.9rem 0rem 15.7rem;
          height: 7.5rem;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-d18x-P3B {
      background-color: rgba(31, 24, 24, 0.6899999976);
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 0.6rem;
      width: 44.7rem;
      height: 100%;

      .chat-room-tVj {
        color: #ffffff;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 4rem 11.5rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.3775;
      }
      .usernam1-hello-CFX {
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
      }
      .username2-hello-bro-iDs {
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
      .usernam1-hello-1yf {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
      }
      .username2-hello-bro-idB {
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .usernam1-hello-qC1 {
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .username2-hello-bro-Y6R {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
      }
      .usernam1-hello-FWd {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
      }
      .username2-hello-bro-ySd {
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
      }
      .usernam1-hello-Hy7 {
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
      }
      .username2-hello-bro-owT {
        white-space: nowrap;
        margin: 0rem 0rem 6.6rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
      .auto-group-kfym-LAh {
        box-sizing: border-box;
        font-size: 3rem;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 1rem;
        background-color: #f9f9f9;
        padding: 3.4rem 1.4rem 2.6rem 1.4rem;
        width: 43.1rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #0f0f0f;
      }
    }
  }
}
