
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-gxM {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #010101;

  .headeringame-Eiy {
    padding: 0.8rem 2.495rem 0.4rem 1.3rem;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-bottom: 0.4rem;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    background-color: #e9ac37;
    flex-shrink: 0;

    .code-kofm-MYh {
      line-height: 1.3775;
      color: #ffffff;
      font-family: Spicy Rice, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 120rem;
      font-size: 3.2rem;
      font-weight: 400;
    }
    .vector-Gff {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      width: 4.0051rem;
      height: 3.2rem;
    }
  }
  .auto-group-49mm-bT3 {
    height: 84.6rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 25.2rem;
    width: calc(100% - 25.2rem);

    .auto-group-vegk-w17 {
      width: 57.1rem;
      height: calc(100% - 5.1rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 3.1rem 18.5rem 2rem 0rem;

      .waiting-for-1-player-to-start-TVF {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #ffffff;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
      .auto-group-avlb-zEH {
        padding: 2.8rem 0.9rem 0rem 1.7rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .mokey-1-JEy {
          height: 12.8736rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 1.1rem 0.795rem;
          width: 11.0946rem;
        }
        .username4-XtR {
          flex-shrink: 0;
          margin: 0rem 0rem 1.426rem 1.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #fbf3f3;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-nt3h-rfo {
          align-items: flex-start;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          width: 100%;
          display: flex;

          .auto-group-cmzm-CUm {
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.6rem 8.18rem 0rem 0rem;
            align-items: center;
            display: flex;

            .bat-1-jDo {
              flex-shrink: 0;
              margin-bottom: 1.0642rem;
              width: 14.6202rem;
              height: 10.8358rem;
              object-fit: cover;
              vertical-align: top;
            }
            .username3-rZK {
              flex-shrink: 0;
              margin-right: 1.0202rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.3775;
              color: #fbf3f3;
              font-family: Spicy Rice, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .bm-2-ytq {
            margin: 0.6rem 9.4rem 0rem 0rem;
            width: 10.9rem;
            height: 10.6328rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-dw1z-hZw {
            width: 11.4rem;
            height: 15.3rem;
            position: relative;
            flex-shrink: 0;

            .username1-3do {
              left: 0;
              font-size: 2.4rem;
              line-height: 1.3775;
              font-family: Spicy Rice, 'Source Sans Pro';
              white-space: nowrap;
              width: 11.4rem;
              height: 3.4rem;
              position: absolute;
              top: 11.9rem;
              font-weight: 400;
              color: #fbf3f3;
            }
            .baby-1-MPb {
              position: absolute;
              left: 0.9rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 9rem;
              height: 11.9174rem;
            }
          }
        }
        .chicken-1-4oo {
          margin: 0rem 0.976rem 0.5rem 0rem;
          width: 10.1242rem;
          height: 11.8709rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .username2-zSZ {
          margin: 0rem 0rem 10.829rem 1.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #fbf3f3;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-kboh-idT {
          text-align: center;
          font-weight: 400;
          white-space: nowrap;
          display: flex;
          border-radius: 2.7768rem;
          margin: 0rem 18.9rem 0rem 15.7rem;
          font-family: Spicy Rice, 'Source Sans Pro';
          color: #000000;
          flex-shrink: 0;
          width: calc(100% - 34.6rem);
          height: 7.5rem;
          align-items: center;
          justify-content: center;
          background-color: #ed4747;
          font-size: 3.2744rem;
          line-height: 1.3775;
        }
      }
    }
    .auto-group-skfq-yJV {
      background-color: rgba(31, 24, 24, 0.6899999976);
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 0.6rem;
      width: 44.7rem;
      height: 100%;

      .chat-room-gyb {
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #ffffff;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 4rem 11.5rem;
      }
      .usernam1-hello-cMT {
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
      }
      .username2-hello-bro-96V {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
      }
      .usernam1-hello-GB7 {
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
      }
      .username2-hello-bro-mdf {
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
      .usernam1-hello-tTP {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .username2-hello-bro-cPP {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .usernam1-hello-Y29 {
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
      }
      .username2-hello-bro-GD3 {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .usernam1-hello-PoT {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
      }
      .username2-hello-bro-vYV {
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 6.6rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
      }
      .auto-group-5c4j-rBF {
        white-space: nowrap;
        border-radius: 1rem;
        padding: 3.4rem 1.4rem 2.6rem 1.4rem;
        color: #0f0f0f;
        font-family: Spicy Rice, 'Source Sans Pro';
        font-weight: 400;
        line-height: 1.3775;
        background-color: #f9f9f9;
        box-sizing: border-box;
        width: 43.1rem;
        font-size: 3rem;
      }
    }
  }
}
