
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-6-RWV {
  display: flex;
  flex-direction: column;
  background-color: #010101;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;

  .headeringame-Aiy {
    padding: 0.8rem 2.495rem 0.4rem 1.3rem;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    display: flex;
    background-color: #e9ac37;
    flex-shrink: 0;
    margin-bottom: 0.4rem;

    .code-kofm-HYh {
      font-weight: 400;
      line-height: 1.3775;
      color: #ffffff;
      font-family: Spicy Rice, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 120rem;
      font-size: 3.2rem;
    }
    .vector-QtD {
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      width: 4.0051rem;
    }
  }
  .auto-group-k6np-wdF {
    margin-left: 25.2rem;
    width: calc(100% - 25.2rem);
    height: 84.6rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-wqnp-HBK {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 3.1rem 18.5rem 2rem 0rem;
      width: 57.1rem;
      height: calc(100% - 5.1rem);
      align-items: center;

      .waiting-for-1-player-to-start-QWq {
        line-height: 1.3775;
        color: #ffffff;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4.8rem;
        font-weight: 400;
      }
      .auto-group-9lcb-LQV {
        box-sizing: border-box;
        padding: 2.8rem 0.9rem 0rem 1.7rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .mokey-1-45b {
          height: 12.8736rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 1.1rem 0.795rem;
          width: 11.0946rem;
        }
        .username4-NMB {
          line-height: 1.3775;
          color: #fbf3f3;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.426rem 1.5rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .auto-group-ddf9-gcm {
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          width: 100%;
          display: flex;
          align-items: center;

          .auto-group-nkjm-RaM {
            margin: 0.6rem 5.58rem 0rem 0rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .bat-1-ZgZ {
              width: 14.6203rem;
              height: 10.8358rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 1.0642rem;
            }
            .username3-hXs {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.0203rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.3775;
              color: #fbf3f3;
              font-family: Spicy Rice, 'Source Sans Pro';
            }
          }
          .mysterybox-1-q8H {
            flex-shrink: 0;
            margin: 0rem 6.5rem 0.947rem 0rem;
            width: 16.4rem;
            height: 13.5525rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-8jfv-km3 {
            margin-bottom: 0.6rem;
            width: 11.4rem;
            height: 15.3rem;
            position: relative;
            flex-shrink: 0;

            .username1-tcM {
              position: absolute;
              line-height: 1.3775;
              white-space: nowrap;
              font-family: Spicy Rice, 'Source Sans Pro';
              width: 11.4rem;
              height: 3.4rem;
              left: 0;
              top: 11.9rem;
              font-size: 2.4rem;
              font-weight: 400;
              color: #fbf3f3;
            }
            .baby-1-1BB {
              width: 9rem;
              height: 11.9174rem;
              position: absolute;
              left: 0.9rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
        .chicken-1-w4q {
          height: 11.8709rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.976rem 0.5rem 0rem;
          width: 10.1242rem;
        }
        .username2-G77 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #fbf3f3;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 10.829rem 1.5rem;
        }
        .auto-group-1ot9-Bzm {
          line-height: 1.3775;
          align-items: center;
          justify-content: center;
          border-radius: 2.7768rem;
          margin: 0rem 18.9rem 0rem 15.7rem;
          font-weight: 400;
          background-color: #ed4747;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          font-size: 3.2744rem;
          white-space: nowrap;
          width: calc(100% - 34.6rem);
          text-align: center;
          flex-shrink: 0;
          height: 7.5rem;
          display: flex;
        }
      }
    }
    .auto-group-raax-etM {
      box-sizing: border-box;
      padding-bottom: 0.6rem;
      width: 44.7rem;
      height: 100%;
      background-color: rgba(31, 24, 24, 0.6899999976);
      flex-shrink: 0;

      .chat-room-NpM {
        margin: 0rem 0rem 4rem 11.5rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #ffffff;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .usernam1-hello-5yf {
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
      .username2-hello-bro-Qm3 {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
      }
      .usernam1-hello-L8u {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .username2-hello-bro-Sxd {
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
      }
      .usernam1-hello-B9X {
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
      }
      .username2-hello-bro-u5X {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .usernam1-hello-DM7 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
      }
      .username2-hello-bro-9Em {
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
      }
      .usernam1-hello-sAm {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .username2-hello-bro-Peu {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 6.6rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
      }
      .auto-group-9fm5-vPw {
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        padding: 3.4rem 1.4rem 2.6rem 1.4rem;
        width: 43.1rem;
        font-size: 3rem;
        font-weight: 400;
        color: #0f0f0f;
        background-color: #f9f9f9;
        border-radius: 1rem;
        line-height: 1.3775;
      }
    }
  }
}
