
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-4Nq {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #010101;

  .headeringame-zXP {
    margin-bottom: 0.4rem;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    padding: 0.8rem 2.495rem 0.4rem 1.3rem;
    width: 100%;
    position: relative;
    display: flex;
    background-color: #e9ac37;
    flex-shrink: 0;

    .code-kofm-6qK {
      flex-shrink: 0;
      margin-right: 120rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.3775;
      color: #ffffff;
      font-family: Spicy Rice, 'Source Sans Pro';
      white-space: nowrap;
    }
    .vector-q2D {
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      width: 4.0051rem;
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-a1nj-9ob {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 4.1rem;
    width: calc(100% - 4.1rem);
    height: 84.6rem;

    .auto-group-ahw1-VMf {
      box-sizing: border-box;
      padding: 1.8rem 6.8rem 2.3rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-hghy-DoT {
        margin: 20.7rem 2.28rem 39.5rem 0rem;
        height: calc(100% - 60.2rem);
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-lkt3-L7P {
          flex-shrink: 0;
          margin: 0rem 1.02rem 0.502rem 0rem;
          display: flex;
          column-gap: 0.0153rem;
          align-items: center;

          .heart-7-FEM {
            width: 4.9564rem;
            height: 4.4983rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .heart-8-nVB {
            width: 4.9564rem;
            height: 4.4983rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .heart-9-jQR {
            height: 4.4983rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 4.9564rem;
          }
        }
        .group-12-5DP {
          margin-left: 1.3rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .bat-1-cj7 {
            width: 14.6202rem;
            height: 10.8358rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1.0642rem;
          }
          .username3-Xr5 {
            line-height: 1.3775;
            color: #fbf3f3;
            font-family: Spicy Rice, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.0202rem;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
      }
      .auto-group-xmo9-rdT {
        width: 71.7rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-zy8x-nX7 {
          flex-shrink: 0;
          margin: 0rem 35.7rem 0.902rem 21.1rem;
          width: calc(100% - 56.8rem);
          display: flex;
          column-gap: 0.0153rem;
          align-items: center;

          .heart-10-ta9 {
            width: 4.9564rem;
            height: 4.4983rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .heart-11-DMX {
            width: 4.9564rem;
            height: 4.4983rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .heart-12-ZAV {
            flex-shrink: 0;
            width: 4.9564rem;
            height: 4.4983rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-ngnx-5uX {
          width: calc(100% - 21.1rem);
          height: 38.8rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 0rem 3.6rem 21.1rem;

          .auto-group-c9x7-CUM {
            height: 100%;
            flex-shrink: 0;
            margin-right: 16.7rem;
            width: 16.8rem;

            .auto-group-pjkd-LKf {
              height: 31.1882rem;
              position: relative;
              margin-bottom: 0.9118rem;
              width: 100%;

              .bm-2-GUD {
                width: 16.8rem;
                height: 16.3882rem;
                position: absolute;
                left: 0;
                top: 14.8rem;
                object-fit: cover;
                vertical-align: top;
              }
              .group-11-azh {
                height: 17.3736rem;
                position: absolute;
                left: 2.2rem;
                top: 0;
                width: 11.8rem;

                .mokey-1-Vbs {
                  margin-bottom: 1.1rem;
                  width: 11.0946rem;
                  height: 12.8736rem;
                  object-fit: cover;
                  vertical-align: top;
                }
                .username4-EJZ {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.3775;
                  color: #fbf3f3;
                  font-family: Spicy Rice, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .ive-wTs {
              line-height: 1.3775;
              color: #fffdfd;
              font-family: Spicy Rice, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 4.8rem;
              font-weight: 400;
            }
          }
          .auto-group-enep-ssK {
            width: 17.1rem;
            height: 26.4477rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 2.0523rem;

            .group-13-Cub {
              align-items: center;
              display: flex;
              flex-direction: column;
              width: 16.8rem;
              height: 22.4477rem;
              position: absolute;
              left: 0.3rem;
              top: 4rem;

              .baby-1-isw {
                width: 13.252rem;
                height: 17.5477rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.8976rem;
              }
              .username1-f2V {
                color: #fbf3f3;
                font-family: Spicy Rice, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 3.5339rem;
                font-weight: 400;
                line-height: 1.3775;
              }
            }
            .heart-1-av9 {
              object-fit: cover;
              vertical-align: top;
              width: 4.9564rem;
              height: 4.4983rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .heart-2-imT {
              vertical-align: top;
              width: 4.9564rem;
              height: 4.4983rem;
              position: absolute;
              left: 4.9718rem;
              top: 0;
              object-fit: cover;
            }
            .heart-3-4KX {
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 4.9564rem;
              height: 4.4983rem;
              position: absolute;
              left: 9.9436rem;
            }
          }
        }
        .auto-group-3nyh-mzd {
          position: relative;
          flex-shrink: 0;
          margin: 0rem 36.8rem 2.429rem 20rem;
          width: calc(100% - 56.8rem);
          height: 20.0708rem;

          .group-14-qDo {
            width: 12.2rem;
            height: 15.7708rem;
            position: absolute;
            left: 1.3rem;
            top: 4.3rem;

            .chicken-1-KPs {
              margin-bottom: 0.5rem;
              width: 10.1242rem;
              height: 11.8709rem;
              object-fit: cover;
              vertical-align: top;
            }
            .username2-eh3 {
              white-space: nowrap;
              margin-left: 0.4rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.3775;
              color: #fbf3f3;
              font-family: Spicy Rice, 'Source Sans Pro';
            }
          }
          .heart-4-aKo {
            width: 4.9564rem;
            height: 4.4983rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
          .heart-5-vPf {
            left: 4.9718rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 4.9564rem;
            height: 4.4983rem;
            position: absolute;
          }
          .heart-6-FRw {
            width: 4.9564rem;
            height: 4.4983rem;
            position: absolute;
            left: 9.9436rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-fgj5-BKb {
          font-family: Lohit Tamil, 'Source Sans Pro';
          width: 54.9rem;
          line-height: 1.2575;
          white-space: nowrap;
          display: flex;
          border-radius: 2rem;
          margin-right: 16.8rem;
          align-items: center;
          flex-shrink: 0;
          text-align: center;
          font-size: 4rem;
          font-weight: 400;
          color: #0f0f0f;
          justify-content: center;
          background-color: #f9f9f9;
          height: 10.2rem;
        }
      }
    }
    .auto-group-hm8f-SWR {
      padding-bottom: 0.6rem;
      width: 44.7rem;
      height: 100%;
      background-color: rgba(31, 24, 24, 0.6899999976);
      flex-shrink: 0;
      box-sizing: border-box;

      .chat-room-MdP {
        line-height: 1.3775;
        color: #ffffff;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 4rem 11.5rem;
        font-size: 4.8rem;
        font-weight: 400;
      }
      .usernam1-hello-UT7 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
      }
      .username2-hello-bro-BcR {
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .usernam1-hello-JS9 {
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
      }
      .username2-hello-bro-bw3 {
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
      .usernam1-hello-vTX {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
      }
      .username2-hello-bro-q4h {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .usernam1-hello-jA5 {
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
      .username2-hello-bro-SaH {
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .usernam1-hello-L9s {
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.5rem 1.8rem;
        font-size: 2.4rem;
      }
      .username2-hello-bro-3KB {
        white-space: nowrap;
        margin: 0rem 0rem 6.6rem 1.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #fbf3f3;
        font-family: Spicy Rice, 'Source Sans Pro';
      }
      .auto-group-pryv-Z2d {
        white-space: nowrap;
        box-sizing: border-box;
        width: 43.1rem;
        color: #0f0f0f;
        line-height: 1.3775;
        font-family: Spicy Rice, 'Source Sans Pro';
        background-color: #f9f9f9;
        border-radius: 1rem;
        padding: 3.4rem 1.4rem 2.6rem 1.4rem;
        font-size: 3rem;
        font-weight: 400;
      }
    }
  }
}
