
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.room-after-login-pgV {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 168, 0, 0.6000000238);

  .auto-group-vjm9-453 {
    margin-bottom: 3.1rem;
    width: 146.7rem;
    height: 96.8rem;
    position: relative;
    flex-shrink: 0;

    .start-the-game-V3s {
      border: dashed 0.1rem #000000;
      background-color: #f9f4d8;
      box-sizing: border-box;
      height: 52.9rem;
      left: 2.4rem;
      top: 43.9rem;
      overflow: hidden;
      padding: 1rem 2.6rem 2.6rem 1.5rem;
      width: 80.4rem;
      position: absolute;
      border-radius: 2.5rem;

      .game-mode-8sX {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #ed6112;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.2rem;
      }
      .auto-group-xee7-pEZ {
        height: 20.7rem;
        display: flex;
        align-items: center;
        margin: 0rem 0rem 5.3rem 1.2rem;
        width: calc(100% - 1.2rem);

        .group-2-7Df {
          flex-shrink: 0;
          width: 15.3rem;
          height: 100%;
          position: relative;

          .rectangle-3-cw7 {
            width: 15.3rem;
            height: 20.2rem;
            position: absolute;
            left: 0;
            top: 0.3rem;
            background-color: #eeb037;
            border-radius: 2.5rem;
          }
          .randomize-t1T {
            line-height: 1.3775;
            font-family: Spicy Rice, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.8rem;
            font-weight: 400;
            color: #000000;
            width: 13.1rem;
            height: 3.9rem;
            position: absolute;
            left: 1.3rem;
            top: 16.8rem;
          }
          .ramdomize-1-Mfj {
            width: 14.9rem;
            left: 0.4rem;
            top: 0;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:77a1f99524a38e890785e7841d64244b92550bc3');
            height: 17.6rem;
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        .auto-group-5oz3-euj {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 4.5rem;

          .group-1-LGm {
            flex-shrink: 0;
            margin: 0.2rem 4.4rem 0.2rem 0rem;
            width: 15.3rem;
            height: calc(100% - 0.4rem);
            position: relative;

            .rectangle-2-DLZ {
              height: 20.2rem;
              position: absolute;
              left: 0;
              top: 0.1rem;
              background-color: #eeaf36;
              border-radius: 2.5rem;
              width: 15.3rem;
            }
            .bombparty-1-KeV {
              height: 17.2rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 15.3rem;
            }
            .bomb-qMw {
              left: 0.4rem;
              font-size: 3.2rem;
              font-family: Spicy Rice, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 400;
              line-height: 1.3775;
              color: #000000;
              width: 7.7rem;
              height: 4.5rem;
              position: absolute;
              top: 12.6rem;
            }
            .party-K2D {
              position: absolute;
              left: 6.3rem;
              font-size: 3.2rem;
              font-weight: 400;
              color: #000000;
              font-family: Spicy Rice, 'Source Sans Pro';
              width: 8.1rem;
              top: 15.7rem;
              line-height: 1.3775;
              white-space: nowrap;
              height: 4.5rem;
            }
          }
          .group-3-oxy {
            flex-shrink: 0;
            margin: 0.3rem 5rem 0.1rem 0rem;
            width: 15.3rem;
            height: calc(100% - 0.4rem);
            position: relative;

            .rectangle-4-uWD {
              border-radius: 2.5rem;
              width: 15.3rem;
              height: 20.2rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #eeb037;
            }
            .detective-DG1 {
              top: 14.7rem;
              font-size: 2.4rem;
              color: #000000;
              white-space: nowrap;
              width: 9.8rem;
              height: 3.4rem;
              font-weight: 400;
              line-height: 1.3775;
              font-family: Spicy Rice, 'Source Sans Pro';
              position: absolute;
              left: 0.4rem;
            }
            .word-hws {
              font-weight: 400;
              line-height: 1.3775;
              width: 5.5rem;
              position: absolute;
              left: 9rem;
              color: #000000;
              font-family: Spicy Rice, 'Source Sans Pro';
              white-space: nowrap;
              height: 3.4rem;
              top: 16.9rem;
              font-size: 2.4rem;
            }
            .detective-1-pFo {
              height: 16.5rem;
              position: absolute;
              left: 0.3rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 14.8rem;
            }
          }
          .dance-YSh {
            cursor: pointer;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            width: 15.3rem;
            height: 20.5rem;

            .rectangle-5-4R3 {
              position: absolute;
              left: 0;
              top: 0.3rem;
              background-color: #eeb037;
              border-radius: 2.5rem;
              width: 15.3rem;
              height: 20.2rem;
            }
            .harvestfestival-1-NwX {
              vertical-align: top;
              width: 14.6rem;
              height: 17rem;
              position: absolute;
              left: 0.4rem;
              top: 0;
              object-fit: cover;
            }
            .harvest-festival-VWM {
              width: 14.1rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.3775;
              color: #000000;
              height: 2.8rem;
              position: absolute;
              left: 0.6rem;
              top: 16.9rem;
              font-family: Spicy Rice, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-gh23-wdF {
        margin: 0rem 4.035rem 3.813rem 0.1rem;
        width: calc(100% - 4.1351rem);
        height: 6.8866rem;
        display: flex;
        align-items: center;

        .rectangle-6-EsF {
          height: 5.8rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0rem 2.2rem 0.087rem 0rem;
          width: 37.5rem;
        }
        .public-private-7RF {
          width: 32.4649rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-7-FXT {
            width: 20.2154rem;
            height: 6.8866rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #d9d9d9;
            border-radius: 2.7768rem;
          }
          .rectangle-8-BAD {
            width: 20.2154rem;
            height: 6.8866rem;
            position: absolute;
            left: 12.2181rem;
            top: 0;
            background-color: #dcd0d0;
            border-radius: 2.7768rem;
          }
          .rectangle-9-tqK {
            background-color: #f69c32;
            border-radius: 2.7768rem;
            width: 16.4389rem;
            height: 6.8866rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .group-6-D6u {
            width: 13.9648rem;
            height: 4.8157rem;
            position: absolute;
            left: 0.7775rem;
            top: 0.9997rem;
            display: flex;
            align-items: flex-end;

            .earth-1-iJZ {
              width: 4.8872rem;
              height: 4.791rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.678rem 0.025rem 0rem;
            }
            .public-1Hf {
              font-family: Spicy Rice, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.2744rem;
              font-weight: 400;
              line-height: 1.3775;
              color: #000000;
            }
          }
          .group-5-vfX {
            left: 16.7721rem;
            box-sizing: border-box;
            padding-right: 0.7649rem;
            width: 15.6928rem;
            height: 4.9225rem;
            position: absolute;
            cursor: pointer;
            top: 0.8775rem;
            display: flex;
            align-items: flex-start;

            .lock-1-dK3 {
              margin-right: 0.5183rem;
              width: 3.5095rem;
              height: 4.6651rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .private-ZCh {
              font-weight: 400;
              line-height: 1.3775;
              color: #000000;
              font-family: Spicy Rice, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.2225rem;
              font-size: 3.3835rem;
            }
          }
        }
      }
      .auto-group-pycs-sUH {
        font-size: 3.2744rem;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        margin: 0rem 18.8rem 0rem 16.5rem;
        height: 6.9rem;
        background-color: #a2e85c;
        font-weight: 400;
        color: #000000;
        display: flex;
        align-items: center;
        border-radius: 2.7768rem;
        width: calc(100% - 35.3rem);
        line-height: 1.3775;
      }
    }
    .banner2-1-f9F {
      vertical-align: top;
      width: 146.7rem;
      height: 43.8078rem;
      position: absolute;
      left: 0;
      top: 3.1rem;
      object-fit: cover;
    }
    .code-join-room-Yyj {
      height: 21.9rem;
      top: 44.6rem;
      overflow: hidden;
      border: dashed 0.1rem #000000;
      border-radius: 2.5rem;
      padding: 1rem 0rem 8rem 0.8rem;
      width: 57.6rem;
      position: absolute;
      left: 83.5rem;
      background-color: #f9f4d8;
      box-sizing: border-box;

      .join-private-room-SpD {
        margin-bottom: 2.6rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.3775;
        color: #ed6112;
        font-family: Spicy Rice, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-kybh-n7P {
        margin-left: 0.6rem;
        height: 5.8rem;
        display: flex;
        align-items: center;

        .code--JrR {
          margin: 0.1rem 0.8rem 0rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .rectangle-10-dNu {
          height: 5.8rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 2.1rem;
          width: 29.4rem;
        }
        .group-9-jwj {
          width: 16.7rem;
          height: 100%;
          position: relative;
          border-radius: 1.6458rem;
          flex-shrink: 0;

          .rectangle-10-h7s {
            width: 15.1rem;
            height: 5.8rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #a2e85c;
            border-radius: 1.6458rem;
          }
          .join-room-dGR {
            position: absolute;
            top: 0.8rem;
            line-height: 1.3775;
            color: #000000;
            width: 14.1rem;
            left: 0.3rem;
            font-size: 3.2rem;
            font-weight: 400;
            font-family: Spicy Rice, 'Source Sans Pro';
            white-space: nowrap;
            height: 4.5rem;
          }
        }
      }
    }
    .group-10-dQq {
      position: absolute;
      left: 83.5rem;
      top: 68.2rem;
      width: 57.6301rem;
      height: 25.2361rem;

      .auto-group-mabv-xT7 {
        margin: 0rem 28.788rem 0.923rem 0rem;
        width: calc(100% - 28.7876rem);
        display: flex;
        align-items: center;

        .paper-1-gP7 {
          height: 5.3377rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.7706rem;
          width: 5.9719rem;
        }
        .news-26-11-2023-Ddw {
          font-weight: 400;
          line-height: 1.2175;
          color: #000000;
          font-family: Ruda, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.274rem;
          font-size: 2.697rem;
        }
      }
      .hi-there-wed-love-to-say-that-we-are-so-happy-when-you-are-here-we-will-try-our-best-to-give-the-greatest-experiment-j6V {
        font-weight: 400;
        line-height: 1.2175;
        color: #000000;
        font-family: Ruda, 'Source Sans Pro';
        margin: 0rem 0rem 0.984rem 1.83rem;
        max-width: 55.8rem;
        font-size: 2.697rem;
      }
      .auto-group-swaw-ABo {
        height: 8.091rem;
        display: flex;
        align-items: center;
        margin: 0rem 2.631rem 0rem 2.312rem;
        width: calc(100% - 4.9425rem);

        .auto-group-7qdd-RdX {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 6.2609rem;
          height: 100%;

          .meta-1-ZDw {
            margin-right: 5.2305rem;
            width: 10.0846rem;
            height: 7.759rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .insta-1-H9w {
            width: 7.802rem;
            height: 7.802rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .x-1-DJV {
          flex-shrink: 0;
          margin-right: 5.394rem;
          width: 8.091rem;
          height: 8.091rem;
          object-fit: cover;
          vertical-align: top;
        }
        .youtube-1-Ybf {
          margin-top: 0.4703rem;
          width: 9.8247rem;
          height: 7.0549rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .header-gC5 {
      padding: 0rem 3.1rem 0rem 1.2rem;
      width: 144rem;
      left: 0;
      background-color: #e9ac37;
      box-sizing: border-box;
      height: 7rem;
      position: absolute;
      top: 0;
      overflow: hidden;
      display: flex;
      align-items: center;

      .auto-group-uqwj-Nqb {
        margin: 1.1rem 0.5rem 1.5rem 0rem;
        width: 23.7rem;
        height: calc(100% - 2.6rem);
        position: relative;
        flex-shrink: 0;

        .explosive-w-rd-hcy {
          width: 23.7rem;
          left: 0;
          font-size: 3.2rem;
          font-family: Leckerli One, 'Source Sans Pro';
          height: 4.4rem;
          position: absolute;
          top: 0;
          font-weight: 400;
          line-height: 1.345;
          color: #000000;
          white-space: nowrap;
        }
        .bm-1-oAD {
          object-fit: cover;
          vertical-align: top;
          width: 3.6rem;
          height: 3.3rem;
          position: absolute;
          left: 17.6rem;
          top: 0.2rem;
        }
      }
      .dog-1-tBf {
        width: 6.6952rem;
        height: 6.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 73.205rem 0.5rem 0rem;
      }
      .auto-group-5zpd-Cy3 {
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0.9rem 0;
        box-sizing: border-box;
        padding: 0.5rem 14.2rem 0.2rem 1.891rem;
        height: calc(100% - 1.8rem);
        display: flex;
        border-radius: 3rem;

        .ei-user-v8M {
          flex-shrink: 0;
          margin: 0rem 0.869rem 0rem 0rem;
          width: 3.74rem;
          height: 3.74rem;
          object-fit: contain;
          vertical-align: top;
        }
        .username1-MzM {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-vcr1-G5j {
    box-sizing: border-box;
    padding: 2.1rem 1.2rem 3.518rem 2.711rem;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;
    border: dashed 0.1rem #000000;
    background-color: #f69c32;

    .auto-group-byt5-ZKj {
      height: 6.3rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 4.289rem 0.789rem;
      width: calc(100% - 0.7889rem);

      .available-room-for-u-to-join-Rsj {
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.3;
        color: #000000;
        font-family: Trocchi, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-hmqx-LUu {
        box-sizing: border-box;
        padding-left: 18.1rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-tdjr-HQ9 {
          margin: 0rem 2.1rem 0.5rem 0rem;
          padding: 0.9rem 2.3rem 0.7rem 2.3rem;
          width: 37.5rem;
          line-height: 1.3;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          font-weight: 400;
          font-family: Trocchi, 'Source Sans Pro';
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          font-size: 3.2rem;
          color: #000000;
          white-space: nowrap;
        }
        .auto-group-ebgf-teq {
          line-height: 1.3775;
          border-radius: 2.5rem;
          font-family: Spicy Rice, 'Source Sans Pro';
          margin: 0.4rem 0rem 0.5rem 0rem;
          box-sizing: border-box;
          padding: 0.7rem 2.3rem 0.1rem 2rem;
          height: calc(100% - 0.9rem);
          font-size: 3.2744rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          background-color: #5cbee8;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-heuk-wd7 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.766rem 3.406rem 0rem;
      width: calc(100% - 1.7662rem);
      height: 19.6936rem;
      display: flex;

      .bombparty-room-TbT {
        width: 40.4915rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-11-B1f {
          height: 19.6555rem;
          position: absolute;
          left: 0;
          top: 0.0381rem;
          background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          border-radius: 3.1835rem;
          width: 40.4915rem;
        }
        .line-1-SiH {
          position: absolute;
          left: 31.7134rem;
          top: 0.6818rem;
          background-color: #000000;
          width: 1.4206rem;
          height: 0.1273rem;
        }
        .bombparty-2-a3o {
          height: 11.5594rem;
          position: absolute;
          left: 1.657rem;
          top: 7.0083rem;
          object-fit: cover;
          vertical-align: top;
          width: 9.8231rem;
        }
        .bombparrty-english-gcd {
          width: 17rem;
          font-size: 3.0561rem;
          font-weight: 400;
          color: #fff4f4;
          font-family: Spicy Rice, 'Source Sans Pro';
          height: 8.5rem;
          position: absolute;
          left: 13.5486rem;
          top: 7.1561rem;
          text-align: center;
          line-height: 1.3775;
        }
        .fmhk-m8H {
          font-weight: 400;
          line-height: 1.2375;
          color: #0b0b0b;
          font-size: 3.8201rem;
          font-family: Rubik Mono One, 'Source Sans Pro';
          width: 6.5rem;
          height: 9.5rem;
          position: absolute;
          left: 32.844rem;
          top: 0;
        }
        .username1s-room-gFF {
          position: absolute;
          top: 1.4159rem;
          font-size: 3.0561rem;
          width: 24.7rem;
          left: 3.1rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          height: 4.3rem;
        }
      }
      .auto-group-uye7-yk9 {
        box-sizing: border-box;
        padding: 0rem 0rem 0rem 8.608rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .detectiveroom-tMK {
          margin: 0rem 8.338rem 0.026rem 0rem;
          width: 40.4613rem;
          height: calc(100% - 0.0256rem);
          position: relative;
          flex-shrink: 0;

          .rectangle-14-y7s {
            border-radius: 3.2062rem;
            width: 40.4613rem;
            height: 19.3125rem;
            position: absolute;
            left: 0;
            top: 0.0354rem;
            background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          }
          .line-4-UKX {
            height: 0.1282rem;
            position: absolute;
            left: 31.7133rem;
            top: 0.6791rem;
            background-color: #000000;
            width: 1.3906rem;
          }
          .detectiveword-english-cAq {
            position: absolute;
            left: 12.4357rem;
            top: 7.3755rem;
            text-align: center;
            line-height: 1.3775;
            color: #fff4f4;
            font-family: Spicy Rice, 'Source Sans Pro';
            width: 19.5rem;
            height: 8.5rem;
            font-size: 3.0779rem;
            font-weight: 400;
          }
          .dmkt-JpM {
            width: 3.3rem;
            height: 14.3rem;
            position: absolute;
            font-size: 3.8474rem;
            color: #000000;
            left: 32.8441rem;
            top: 0;
            font-weight: 400;
            line-height: 1.2375;
            font-family: Rubik Mono One, 'Source Sans Pro';
          }
          .username3s-room-ECD {
            line-height: 1.3775;
            white-space: nowrap;
            width: 25.4rem;
            position: absolute;
            left: 3.0988rem;
            top: 1.3998rem;
            font-size: 3.0779rem;
            font-weight: 400;
            height: 4.3rem;
            color: #000000;
            font-family: Spicy Rice, 'Source Sans Pro';
          }
          .detective-2-vKw {
            top: 7.1047rem;
            object-fit: cover;
            vertical-align: top;
            width: 11.1697rem;
            height: 12.5632rem;
            position: absolute;
            left: 1.0362rem;
          }
        }
        .harvestfestival-room-dEM {
          width: 40.4232rem;
          height: 18.909rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-13-Xad {
            width: 40.4232rem;
            height: 18.877rem;
            position: absolute;
            left: 0;
            top: 0.032rem;
            background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
            border-radius: 3.1899rem;
          }
          .line-3-2XP {
            background-color: #000000;
            width: 1.3525rem;
            height: 0.1276rem;
            position: absolute;
            left: 31.7133rem;
            top: 0.6757rem;
          }
          .harvestfestival-english-Adb {
            font-weight: 400;
            line-height: 1.3775;
            left: 11.1951rem;
            text-align: center;
            position: absolute;
            top: 7.6902rem;
            font-size: 3.0623rem;
            color: #fff4f4;
            font-family: Spicy Rice, 'Source Sans Pro';
            width: 21.5rem;
            height: 8.5rem;
          }
          .ploq-4iy {
            left: 32.8444rem;
            top: 0;
            font-size: 3.8279rem;
            font-weight: 400;
            line-height: 1.2375;
            color: #000000;
            font-family: Rubik Mono One, 'Source Sans Pro';
            height: 14.3rem;
            position: absolute;
            width: 3.3rem;
          }
          .username4s-room-yb3 {
            font-size: 3.0623rem;
            color: #000000;
            font-family: Spicy Rice, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            top: 1.3794rem;
            left: 3.0973rem;
            font-weight: 400;
            line-height: 1.3775;
            width: 25.2rem;
            height: 4.3rem;
          }
          .harvestfestival-2-H5w {
            width: 11.2443rem;
            height: 11.6501rem;
            position: absolute;
            left: 0.7398rem;
            top: 6.6217rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
    .auto-group-oduf-oKB {
      margin: 0rem 1.766rem 3.288rem 0rem;
      width: calc(100% - 1.7663rem);
      height: 19.8122rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .randomize-room-gds {
        width: 40.5016rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-12-1g9 {
          position: absolute;
          left: 0;
          top: 0.039rem;
          background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          border-radius: 3.1575rem;
          width: 40.5016rem;
          height: 19.7732rem;
        }
        .line-2-Wcu {
          width: 1.4309rem;
          height: 0.1263rem;
          position: absolute;
          left: 31.7133rem;
          top: 0.6827rem;
          background-color: #000000;
        }
        .randomize-english-q9P {
          font-weight: 400;
          line-height: 1.3775;
          font-family: Spicy Rice, 'Source Sans Pro';
          position: absolute;
          font-size: 3.0312rem;
          left: 9.3181rem;
          top: 7.0881rem;
          text-align: center;
          color: #fff4f4;
          width: 25.2rem;
          height: 4.2rem;
        }
        .kiwk-LM3 {
          width: 6.5rem;
          height: 9.4rem;
          position: absolute;
          left: 32.8438rem;
          top: 0;
          line-height: 1.2375;
          color: #000000;
          font-size: 3.789rem;
          font-weight: 400;
          font-family: Rubik Mono One, 'Source Sans Pro';
        }
        .username2s-room-raH {
          top: 1.4214rem;
          font-size: 3.0312rem;
          font-family: Spicy Rice, 'Source Sans Pro';
          width: 25rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.3775;
          color: #000000;
          white-space: nowrap;
          height: 4.2rem;
          left: 3.1004rem;
        }
        .ramdomize-2-mBT {
          vertical-align: top;
          width: 11.5947rem;
          height: 11.6652rem;
          position: absolute;
          left: 1.5553rem;
          top: 7.1527rem;
          object-fit: cover;
        }
      }
      .auto-group-vkgo-H9o {
        box-sizing: border-box;
        padding: 0rem 0rem 0rem 8.498rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .bombparty-room-nMT {
          margin-right: 8.408rem;
          width: 40.4915rem;
          height: 19.6936rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-11-s81 {
            border-radius: 3.1835rem;
            width: 40.4915rem;
            height: 19.6555rem;
            position: absolute;
            left: 0;
            top: 0.0381rem;
            background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          }
          .line-1-ZmX {
            height: 0.1273rem;
            position: absolute;
            left: 31.7134rem;
            top: 0.6818rem;
            background-color: #000000;
            width: 1.4206rem;
          }
          .bombparty-2-Vv5 {
            object-fit: cover;
            vertical-align: top;
            width: 9.8231rem;
            height: 11.5594rem;
            position: absolute;
            left: 1.657rem;
            top: 7.0083rem;
          }
          .bombparrty-english-Roj {
            line-height: 1.3775;
            font-family: Spicy Rice, 'Source Sans Pro';
            width: 17rem;
            text-align: center;
            font-size: 3.0561rem;
            font-weight: 400;
            color: #fff4f4;
            height: 8.5rem;
            position: absolute;
            left: 13.5486rem;
            top: 7.1561rem;
          }
          .fmhk-jZX {
            top: 0;
            font-size: 3.8201rem;
            line-height: 1.2375;
            color: #0b0b0b;
            width: 6.5rem;
            height: 9.5rem;
            position: absolute;
            left: 32.844rem;
            font-weight: 400;
            font-family: Rubik Mono One, 'Source Sans Pro';
          }
          .username1s-room-eRb {
            font-family: Spicy Rice, 'Source Sans Pro';
            position: absolute;
            left: 3.1rem;
            top: 1.4159rem;
            font-weight: 400;
            color: #000000;
            width: 24.7rem;
            height: 4.3rem;
            font-size: 3.0561rem;
            line-height: 1.3775;
            white-space: nowrap;
          }
        }
        .harvestfestival-room-JW9 {
          flex-shrink: 0;
          width: 40.4232rem;
          height: 18.909rem;
          position: relative;

          .rectangle-13-E8u {
            height: 18.877rem;
            position: absolute;
            left: 0;
            top: 0.032rem;
            background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
            border-radius: 3.1899rem;
            width: 40.4232rem;
          }
          .line-3-w3K {
            width: 1.3525rem;
            height: 0.1276rem;
            position: absolute;
            left: 31.7133rem;
            top: 0.6757rem;
            background-color: #000000;
          }
          .harvestfestival-english-G5b {
            position: absolute;
            left: 11.1951rem;
            top: 7.6902rem;
            font-weight: 400;
            color: #fff4f4;
            width: 21.5rem;
            height: 8.5rem;
            text-align: center;
            font-size: 3.0623rem;
            line-height: 1.3775;
            font-family: Spicy Rice, 'Source Sans Pro';
          }
          .ploq-m2M {
            width: 3.3rem;
            height: 14.3rem;
            position: absolute;
            top: 0;
            font-weight: 400;
            left: 32.8444rem;
            font-size: 3.8279rem;
            line-height: 1.2375;
            color: #000000;
            font-family: Rubik Mono One, 'Source Sans Pro';
          }
          .username4s-room-5Yq {
            left: 3.0973rem;
            top: 1.3794rem;
            font-size: 3.0623rem;
            font-family: Spicy Rice, 'Source Sans Pro';
            white-space: nowrap;
            width: 25.2rem;
            height: 4.3rem;
            line-height: 1.3775;
            color: #000000;
            position: absolute;
            font-weight: 400;
          }
          .harvestfestival-2-zQu {
            width: 11.2443rem;
            height: 11.6501rem;
            position: absolute;
            left: 0.7398rem;
            top: 6.6217rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
    .auto-group-cqhz-GtD {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.728rem 3.406rem 0rem;
      width: calc(100% - 1.7278rem);
      height: 19.6936rem;

      .bombparty-room-NAZ {
        width: 40.4915rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-11-789 {
          width: 40.4915rem;
          height: 19.6555rem;
          position: absolute;
          left: 0;
          top: 0.0381rem;
          background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          border-radius: 3.1835rem;
        }
        .line-1-RPj {
          top: 0.6818rem;
          background-color: #000000;
          width: 1.4206rem;
          height: 0.1273rem;
          position: absolute;
          left: 31.7134rem;
        }
        .bombparty-2-kwo {
          width: 9.8231rem;
          height: 11.5594rem;
          position: absolute;
          left: 1.657rem;
          top: 7.0083rem;
          object-fit: cover;
          vertical-align: top;
        }
        .bombparrty-english-Uso {
          color: #fff4f4;
          font-family: Spicy Rice, 'Source Sans Pro';
          left: 13.5486rem;
          top: 7.1561rem;
          font-size: 3.0561rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.3775;
          width: 17rem;
          height: 8.5rem;
          position: absolute;
        }
        .fmhk-BnD {
          height: 9.5rem;
          position: absolute;
          left: 32.844rem;
          top: 0;
          font-size: 3.8201rem;
          width: 6.5rem;
          font-weight: 400;
          line-height: 1.2375;
          color: #0b0b0b;
          font-family: Rubik Mono One, 'Source Sans Pro';
        }
        .username1s-room-hEm {
          top: 1.4159rem;
          line-height: 1.3775;
          white-space: nowrap;
          width: 24.7rem;
          position: absolute;
          left: 3.1rem;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          height: 4.3rem;
          font-size: 3.0561rem;
          font-weight: 400;
        }
      }
      .auto-group-jx1v-yTB {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 8.6083rem;

        .detectiveroom-6Gu {
          margin: 0rem 8.339rem 0.026rem 0rem;
          width: 40.4613rem;
          height: calc(100% - 0.0256rem);
          position: relative;
          flex-shrink: 0;

          .rectangle-14-zdB {
            height: 19.3125rem;
            position: absolute;
            left: 0;
            top: 0.0354rem;
            background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
            border-radius: 3.2062rem;
            width: 40.4613rem;
          }
          .line-4-WLd {
            top: 0.6791rem;
            background-color: #000000;
            width: 1.3906rem;
            height: 0.1282rem;
            position: absolute;
            left: 31.7133rem;
          }
          .detectiveword-english-SVB {
            width: 19.5rem;
            position: absolute;
            left: 12.4357rem;
            line-height: 1.3775;
            color: #fff4f4;
            height: 8.5rem;
            top: 7.3754rem;
            text-align: center;
            font-size: 3.0779rem;
            font-weight: 400;
            font-family: Spicy Rice, 'Source Sans Pro';
          }
          .dmkt-vv9 {
            color: #000000;
            width: 3.3rem;
            height: 14.3rem;
            left: 32.8441rem;
            top: 0;
            font-size: 3.8474rem;
            font-weight: 400;
            line-height: 1.2375;
            font-family: Rubik Mono One, 'Source Sans Pro';
            position: absolute;
          }
          .username3s-room-3Uy {
            width: 25.4rem;
            font-weight: 400;
            white-space: nowrap;
            line-height: 1.3775;
            color: #000000;
            font-family: Spicy Rice, 'Source Sans Pro';
            height: 4.3rem;
            position: absolute;
            left: 3.0988rem;
            top: 1.3998rem;
            font-size: 3.0779rem;
          }
          .detective-2-Ygd {
            height: 12.5632rem;
            position: absolute;
            left: 1.0362rem;
            top: 7.1047rem;
            object-fit: cover;
            vertical-align: top;
            width: 11.1697rem;
          }
        }
        .detectiveroom-dxy {
          margin-bottom: 0.0256rem;
          width: 40.4613rem;
          height: calc(100% - 0.0256rem);
          position: relative;
          flex-shrink: 0;

          .rectangle-14-9wK {
            position: absolute;
            left: 0;
            top: 0.0354rem;
            background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
            border-radius: 3.2062rem;
            width: 40.4613rem;
            height: 19.3125rem;
          }
          .line-4-GW9 {
            width: 1.3906rem;
            height: 0.1282rem;
            position: absolute;
            left: 31.7133rem;
            top: 0.6791rem;
            background-color: #000000;
          }
          .detectiveword-english-bYR {
            width: 19.5rem;
            height: 8.5rem;
            left: 12.4357rem;
            top: 7.3754rem;
            font-family: Spicy Rice, 'Source Sans Pro';
            position: absolute;
            text-align: center;
            font-size: 3.0779rem;
            font-weight: 400;
            line-height: 1.3775;
            color: #fff4f4;
          }
          .dmkt-Hw3 {
            height: 14.3rem;
            left: 32.8441rem;
            top: 0;
            line-height: 1.2375;
            color: #000000;
            font-family: Rubik Mono One, 'Source Sans Pro';
            width: 3.3rem;
            position: absolute;
            font-size: 3.8474rem;
            font-weight: 400;
          }
          .username3s-room-DJu {
            font-weight: 400;
            line-height: 1.3775;
            color: #000000;
            width: 25.4rem;
            height: 4.3rem;
            position: absolute;
            font-size: 3.0779rem;
            left: 3.0988rem;
            top: 1.3998rem;
            font-family: Spicy Rice, 'Source Sans Pro';
            white-space: nowrap;
          }
          .detective-2-KMw {
            width: 11.1697rem;
            height: 12.5632rem;
            position: absolute;
            left: 1.0362rem;
            top: 7.1047rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
    }
    .auto-group-1csf-SBf {
      margin: 0rem 1.766rem 3.406rem 0rem;
      height: 19.6936rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .bombparty-room-WxD {
        margin: 0rem 8.608rem 0rem 0rem;
        width: 40.4915rem;
        height: calc(100% - 0rem);
        position: relative;
        flex-shrink: 0;

        .rectangle-11-pxu {
          border-radius: 3.1835rem;
          width: 40.4915rem;
          height: 19.6555rem;
          position: absolute;
          left: 0;
          top: 0.0381rem;
          background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
        }
        .line-1-XcR {
          position: absolute;
          left: 31.7134rem;
          top: 0.6818rem;
          background-color: #000000;
          width: 1.4206rem;
          height: 0.1273rem;
        }
        .bombparty-2-Tky {
          width: 9.8231rem;
          height: 11.5594rem;
          position: absolute;
          left: 1.657rem;
          top: 7.0083rem;
          object-fit: cover;
          vertical-align: top;
        }
        .bombparrty-english-bcH {
          font-weight: 400;
          color: #fff4f4;
          font-size: 3.0561rem;
          line-height: 1.3775;
          width: 17rem;
          height: 8.5rem;
          position: absolute;
          left: 13.5486rem;
          top: 7.1561rem;
          text-align: center;
          font-family: Spicy Rice, 'Source Sans Pro';
        }
        .fmhk-6ow {
          height: 9.5rem;
          left: 32.844rem;
          top: 0;
          font-size: 3.8201rem;
          color: #0b0b0b;
          width: 6.5rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.2375;
          font-family: Rubik Mono One, 'Source Sans Pro';
        }
        .username1s-room-1vu {
          width: 24.7rem;
          height: 4.3rem;
          left: 3.1rem;
          font-weight: 400;
          color: #000000;
          position: absolute;
          top: 1.4159rem;
          font-size: 3.0561rem;
          line-height: 1.3775;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .detectiveroom-umP {
        margin: 0rem 8.338rem 0.026rem 0rem;
        width: 40.4613rem;
        height: calc(100% - 0.0257rem);
        position: relative;
        flex-shrink: 0;

        .rectangle-14-naH {
          height: 19.3125rem;
          position: absolute;
          left: 0;
          top: 0.0354rem;
          background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          border-radius: 3.2062rem;
          width: 40.4613rem;
        }
        .line-4-6L5 {
          width: 1.3906rem;
          height: 0.1282rem;
          position: absolute;
          left: 31.7133rem;
          top: 0.6791rem;
          background-color: #000000;
        }
        .detectiveword-english-pG5 {
          height: 8.5rem;
          left: 12.4357rem;
          font-size: 3.0779rem;
          font-weight: 400;
          color: #fff4f4;
          width: 19.5rem;
          position: absolute;
          top: 7.3754rem;
          text-align: center;
          line-height: 1.3775;
          font-family: Spicy Rice, 'Source Sans Pro';
        }
        .dmkt-Wub {
          width: 3.3rem;
          position: absolute;
          left: 32.8441rem;
          top: 0;
          font-weight: 400;
          line-height: 1.2375;
          font-family: Rubik Mono One, 'Source Sans Pro';
          height: 14.3rem;
          font-size: 3.8474rem;
          color: #000000;
        }
        .username3s-room-SYM {
          width: 25.4rem;
          left: 3.0988rem;
          font-size: 3.0779rem;
          color: #000000;
          white-space: nowrap;
          font-family: Spicy Rice, 'Source Sans Pro';
          height: 4.3rem;
          position: absolute;
          top: 1.3998rem;
          font-weight: 400;
          line-height: 1.3775;
        }
        .detective-2-YrH {
          object-fit: cover;
          vertical-align: top;
          width: 11.1697rem;
          height: 12.5632rem;
          position: absolute;
          left: 1.0362rem;
          top: 7.1047rem;
        }
      }
      .harvestfestival-room-sdf {
        height: 18.909rem;
        position: relative;
        flex-shrink: 0;
        width: 40.4232rem;

        .rectangle-13-aY5 {
          width: 40.4232rem;
          height: 18.877rem;
          position: absolute;
          left: 0;
          top: 0.032rem;
          background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          border-radius: 3.1899rem;
        }
        .line-3-Gvh {
          height: 0.1276rem;
          position: absolute;
          left: 31.7133rem;
          top: 0.6757rem;
          background-color: #000000;
          width: 1.3525rem;
        }
        .harvestfestival-english-bi5 {
          font-size: 3.0623rem;
          line-height: 1.3775;
          font-family: Spicy Rice, 'Source Sans Pro';
          font-weight: 400;
          color: #fff4f4;
          width: 21.5rem;
          height: 8.5rem;
          position: absolute;
          left: 11.1951rem;
          top: 7.6902rem;
          text-align: center;
        }
        .ploq-JcV {
          line-height: 1.2375;
          color: #000000;
          position: absolute;
          left: 32.8444rem;
          font-weight: 400;
          font-size: 3.8279rem;
          font-family: Rubik Mono One, 'Source Sans Pro';
          width: 3.3rem;
          height: 14.3rem;
          top: 0;
        }
        .username4s-room-d8y {
          height: 4.3rem;
          top: 1.3794rem;
          font-size: 3.0623rem;
          font-weight: 400;
          width: 25.2rem;
          position: absolute;
          left: 3.0973rem;
          line-height: 1.3775;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
        }
        .harvestfestival-2-vds {
          width: 11.2443rem;
          height: 11.6501rem;
          position: absolute;
          left: 0.7398rem;
          top: 6.6217rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-ex8j-qkq {
      height: 19.8122rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 1.766rem 3.288rem 0rem;

      .randomize-room-MDP {
        width: 40.5016rem;
        height: calc(100% - 0rem);
        position: relative;
        flex-shrink: 0;
        margin: 0rem 8.498rem 0rem 0rem;

        .rectangle-12-SEq {
          left: 0;
          top: 0.039rem;
          background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          border-radius: 3.1575rem;
          width: 40.5016rem;
          height: 19.7732rem;
          position: absolute;
        }
        .line-2-kFX {
          position: absolute;
          left: 31.7133rem;
          top: 0.6827rem;
          background-color: #000000;
          width: 1.4309rem;
          height: 0.1263rem;
        }
        .randomize-english-UxD {
          font-weight: 400;
          line-height: 1.3775;
          color: #fff4f4;
          width: 25.2rem;
          left: 9.3181rem;
          font-size: 3.0312rem;
          text-align: center;
          font-family: Spicy Rice, 'Source Sans Pro';
          height: 4.2rem;
          position: absolute;
          top: 7.0881rem;
        }
        .kiwk-zQm {
          color: #000000;
          font-family: Rubik Mono One, 'Source Sans Pro';
          width: 6.5rem;
          height: 9.4rem;
          line-height: 1.2375;
          font-size: 3.789rem;
          font-weight: 400;
          position: absolute;
          left: 32.8438rem;
          top: 0;
        }
        .username2s-room-We1 {
          width: 25rem;
          height: 4.2rem;
          left: 3.1004rem;
          top: 1.4214rem;
          font-weight: 400;
          line-height: 1.3775;
          position: absolute;
          font-size: 3.0312rem;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
        }
        .ramdomize-2-cBF {
          top: 7.1527rem;
          object-fit: cover;
          vertical-align: top;
          width: 11.5947rem;
          height: 11.6652rem;
          position: absolute;
          left: 1.5553rem;
        }
      }
      .bombparty-room-jWm {
        margin: 0rem 8.408rem 0rem 0rem;
        width: 40.4915rem;
        height: 19.6936rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-11-RuP {
          position: absolute;
          left: 0;
          top: 0.0381rem;
          background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          border-radius: 3.1835rem;
          width: 40.4915rem;
          height: 19.6555rem;
        }
        .line-1-KE5 {
          width: 1.4206rem;
          height: 0.1273rem;
          position: absolute;
          left: 31.7134rem;
          top: 0.6818rem;
          background-color: #000000;
        }
        .bombparty-2-qCR {
          height: 11.5594rem;
          position: absolute;
          left: 1.657rem;
          top: 7.0083rem;
          object-fit: cover;
          vertical-align: top;
          width: 9.8231rem;
        }
        .bombparrty-english-Z8R {
          left: 13.5486rem;
          text-align: center;
          line-height: 1.3775;
          font-size: 3.0561rem;
          font-weight: 400;
          color: #fff4f4;
          font-family: Spicy Rice, 'Source Sans Pro';
          width: 17rem;
          height: 8.5rem;
          position: absolute;
          top: 7.1561rem;
        }
        .fmhk-TzV {
          top: 0;
          font-size: 3.8201rem;
          font-weight: 400;
          font-family: Rubik Mono One, 'Source Sans Pro';
          position: absolute;
          height: 9.5rem;
          left: 32.844rem;
          line-height: 1.2375;
          color: #0b0b0b;
          width: 6.5rem;
        }
        .username1s-room-Bfb {
          height: 4.3rem;
          position: absolute;
          top: 1.4159rem;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          width: 24.7rem;
          left: 3.1rem;
          font-size: 3.0561rem;
          font-weight: 400;
          line-height: 1.3775;
          white-space: nowrap;
        }
      }
      .harvestfestival-room-VAV {
        width: 40.4232rem;
        height: 18.909rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-13-cku {
          left: 0;
          top: 0.032rem;
          background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          border-radius: 3.1899rem;
          width: 40.4232rem;
          height: 18.877rem;
          position: absolute;
        }
        .line-3-sRw {
          background-color: #000000;
          width: 1.3525rem;
          height: 0.1276rem;
          position: absolute;
          left: 31.7133rem;
          top: 0.6757rem;
        }
        .harvestfestival-english-Cz1 {
          width: 21.5rem;
          height: 8.5rem;
          left: 11.1951rem;
          text-align: center;
          line-height: 1.3775;
          color: #fff4f4;
          font-family: Spicy Rice, 'Source Sans Pro';
          position: absolute;
          top: 7.6902rem;
          font-size: 3.0623rem;
          font-weight: 400;
        }
        .ploq-K33 {
          font-weight: 400;
          width: 3.3rem;
          position: absolute;
          left: 32.8444rem;
          line-height: 1.2375;
          color: #000000;
          font-family: Rubik Mono One, 'Source Sans Pro';
          height: 14.3rem;
          top: 0;
          font-size: 3.8279rem;
        }
        .username4s-room-2y3 {
          width: 25.2rem;
          line-height: 1.3775;
          white-space: nowrap;
          font-size: 3.0623rem;
          font-weight: 400;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
          height: 4.3rem;
          position: absolute;
          left: 3.0973rem;
          top: 1.3794rem;
        }
        .harvestfestival-2-Lyj {
          vertical-align: top;
          width: 11.2443rem;
          height: 11.6501rem;
          position: absolute;
          left: 0.7398rem;
          top: 6.6217rem;
          object-fit: cover;
        }
      }
    }
    .auto-group-16ef-GcV {
      margin-right: 1.7278rem;
      height: 19.6936rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .bombparty-room-ocR {
        height: calc(100% - 0rem);
        position: relative;
        flex-shrink: 0;
        margin: 0rem 8.608rem 0rem 0rem;
        width: 40.4915rem;

        .rectangle-11-Kam {
          background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          border-radius: 3.1835rem;
          width: 40.4915rem;
          height: 19.6555rem;
          position: absolute;
          left: 0;
          top: 0.0381rem;
        }
        .line-1-amb {
          width: 1.4206rem;
          height: 0.1273rem;
          position: absolute;
          left: 31.7134rem;
          top: 0.6818rem;
          background-color: #000000;
        }
        .bombparty-2-XB3 {
          height: 11.5594rem;
          position: absolute;
          left: 1.657rem;
          top: 7.0083rem;
          object-fit: cover;
          vertical-align: top;
          width: 9.8231rem;
        }
        .bombparrty-english-qhX {
          height: 8.5rem;
          font-size: 3.0561rem;
          font-weight: 400;
          line-height: 1.3775;
          color: #fff4f4;
          font-family: Spicy Rice, 'Source Sans Pro';
          width: 17rem;
          position: absolute;
          left: 13.5486rem;
          top: 7.1561rem;
          text-align: center;
        }
        .fmhk-9iD {
          line-height: 1.2375;
          color: #0b0b0b;
          width: 6.5rem;
          left: 32.844rem;
          top: 0;
          font-weight: 400;
          height: 9.5rem;
          position: absolute;
          font-size: 3.8201rem;
          font-family: Rubik Mono One, 'Source Sans Pro';
        }
        .username1s-room-5Ly {
          width: 24.7rem;
          position: absolute;
          line-height: 1.3775;
          white-space: nowrap;
          height: 4.3rem;
          left: 3.1rem;
          top: 1.4159rem;
          font-size: 3.0561rem;
          font-weight: 400;
          color: #000000;
          font-family: Spicy Rice, 'Source Sans Pro';
        }
      }
      .detectiveroom-aoX {
        position: relative;
        flex-shrink: 0;
        margin: 0rem 8.339rem 0.026rem 0rem;
        width: 40.4613rem;
        height: calc(100% - 0.0257rem);

        .rectangle-14-7Hf {
          background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          border-radius: 3.2062rem;
          width: 40.4613rem;
          height: 19.3125rem;
          position: absolute;
          left: 0;
          top: 0.0354rem;
        }
        .line-4-RJM {
          left: 31.7133rem;
          top: 0.6791rem;
          background-color: #000000;
          width: 1.3906rem;
          height: 0.1282rem;
          position: absolute;
        }
        .detectiveword-english-Jsw {
          left: 12.4357rem;
          color: #fff4f4;
          font-family: Spicy Rice, 'Source Sans Pro';
          height: 8.5rem;
          position: absolute;
          text-align: center;
          font-size: 3.0779rem;
          font-weight: 400;
          line-height: 1.3775;
          width: 19.5rem;
          top: 7.3754rem;
        }
        .dmkt-p5b {
          color: #000000;
          font-family: Rubik Mono One, 'Source Sans Pro';
          position: absolute;
          font-size: 3.8474rem;
          font-weight: 400;
          top: 0;
          line-height: 1.2375;
          width: 3.3rem;
          height: 14.3rem;
          left: 32.8441rem;
        }
        .username3s-room-iwf {
          width: 25.4rem;
          top: 1.3998rem;
          font-size: 3.0779rem;
          line-height: 1.3775;
          font-family: Spicy Rice, 'Source Sans Pro';
          height: 4.3rem;
          position: absolute;
          left: 3.0988rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
        }
        .detective-2-qFb {
          width: 11.1697rem;
          height: 12.5632rem;
          position: absolute;
          left: 1.0362rem;
          top: 7.1047rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .detectiveroom-AYm {
        height: calc(100% - 0.0257rem);
        position: relative;
        flex-shrink: 0;
        margin-bottom: 0.0257rem;
        width: 40.4613rem;

        .rectangle-14-HNV {
          width: 40.4613rem;
          height: 19.3125rem;
          position: absolute;
          left: 0;
          top: 0.0354rem;
          background: linear-gradient(114.83deg, #ff3131 46.56%, #ff914d 88.48%);
          border-radius: 3.2062rem;
        }
        .line-4-Bim {
          width: 1.3906rem;
          height: 0.1282rem;
          position: absolute;
          left: 31.7133rem;
          top: 0.6791rem;
          background-color: #000000;
        }
        .detectiveword-english-VUZ {
          font-size: 3.0779rem;
          font-weight: 400;
          font-family: Spicy Rice, 'Source Sans Pro';
          width: 19.5rem;
          text-align: center;
          left: 12.4357rem;
          top: 7.3754rem;
          line-height: 1.3775;
          color: #fff4f4;
          height: 8.5rem;
          position: absolute;
        }
        .dmkt-yuX {
          position: absolute;
          font-weight: 400;
          top: 0;
          font-size: 3.8474rem;
          line-height: 1.2375;
          color: #000000;
          font-family: Rubik Mono One, 'Source Sans Pro';
          width: 3.3rem;
          height: 14.3rem;
          left: 32.8441rem;
        }
        .username3s-room-6z9 {
          position: absolute;
          left: 3.0988rem;
          font-size: 3.0779rem;
          color: #000000;
          line-height: 1.3775;
          font-family: Spicy Rice, 'Source Sans Pro';
          white-space: nowrap;
          width: 25.4rem;
          height: 4.3rem;
          top: 1.3998rem;
          font-weight: 400;
        }
        .detective-2-QE9 {
          width: 11.1697rem;
          height: 12.5632rem;
          position: absolute;
          left: 1.0362rem;
          top: 7.1047rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
  }
  .footer-tf7 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-color: #dadada;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.8rem 1.9rem 0.6rem 40.7rem;

    .lab-1-p2y {
      margin-right: 1.6577rem;
      width: 6.0423rem;
      height: 8.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .hope-you-enjoy-the-game-Jyj {
      line-height: 1.345;
      color: rgba(0, 0, 0, 0.3300000131);
      font-family: Leckerli One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 21.1rem 1.1rem 0rem;
      font-size: 4.5rem;
      font-weight: 400;
    }
    .nhm-se400-Zem {
      font-weight: 400;
      line-height: 1.345;
      color: rgba(0, 0, 0, 0.2800000012);
      font-family: Leckerli One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      font-size: 2rem;
    }
  }
}
