
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.9rem;
}.desktop-3-gxM {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #010101;
}
.desktop-3-gxM .headeringame-Eiy {
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  padding: 0.8rem 2.495rem 0.4rem 1.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e9ac37;
  flex-shrink: 0;
  justify-content: space-around;
}
.desktop-3-gxM .headeringame-Eiy .code-kofm-MYh {
  margin-right: 120rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #ffffff;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chat{
  height: 450px;
  overflow:auto;

}
.desktop-3-gxM .headeringame-Eiy .vector-Gff {
  margin-bottom: 0.5rem;
  width: 4.0051rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
  cursor: pointer;
}
.desktop-3-gxM .auto-group-49mm-bT3 {
  margin-left: 3rem;
  /* width: calc(100% - 15rem); */
  height: 64.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 {
  margin: 3.1rem 18.5rem 2rem 0rem;
  width: 57.1rem;
  height: calc(100% - 5.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .waiting-for-1-player-to-start-TVF {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #ffffff;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;
  left:-100px;
  top:-35px;
  transform: scale(0.9);
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .auto-group-avlb-zEH {
  box-sizing: border-box;
  padding: 2.8rem 0.9rem 0rem 1.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  left:-100px;
  top:-90px;
  transform: scale(0.9);
  height: 600px;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .auto-group-avlb-zEH .mokey-1-JEy {
  margin: 0rem 0rem 1.1rem 0.795rem;
  width: 11.0946rem;
  height: 12.8736rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .auto-group-avlb-zEH .username4-XtR {
  margin: 0rem 0rem 1.426rem 1.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .auto-group-avlb-zEH .auto-group-nt3h-rfo {
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .auto-group-avlb-zEH .auto-group-nt3h-rfo .auto-group-cmzm-CUm {
  margin: 0.6rem 8.18rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .auto-group-avlb-zEH .auto-group-nt3h-rfo .auto-group-cmzm-CUm .bat-1-jDo {
  margin-bottom: 1.0642rem;
  width: 14.6202rem;
  height: 10.8358rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .auto-group-avlb-zEH .auto-group-nt3h-rfo .auto-group-cmzm-CUm .username3-rZK {
  margin-right: 1.0202rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
 .bm-2-ytq {
  /* margin: 0.6rem 200rem 0rem 0rem; */
  position: absolute;
  margin: auto;
  top:240px;
  left:240px;
  width: 12.9rem;
  height: 10.6328rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
z-index: 3;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .auto-group-avlb-zEH .auto-group-nt3h-rfo .auto-group-dw1z-hZw {
  width: 11.4rem;
  height: 15.3rem;
  position: relative;
  flex-shrink: 0;
}
#player3{
  left:180px;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .auto-group-avlb-zEH .auto-group-nt3h-rfo .auto-group-dw1z-hZw .username1-3do {
  width: 11.4rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 11.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .auto-group-avlb-zEH .auto-group-nt3h-rfo .auto-group-dw1z-hZw .baby-1-MPb {
  width: 9rem;
  height: 11.9174rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .auto-group-avlb-zEH .chicken-1-4oo {
  margin: 0rem 0.976rem 0.5rem 0rem;
  width: 10.1242rem;
  height: 11.8709rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-vegk-w17 .auto-group-avlb-zEH .username2-zSZ {
  margin: 0rem 0rem 10.829rem 1.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
 .auto-group-kboh-idT {
  margin: 0rem 18.9rem 0rem 15.7rem;
  width: calc(100% - 30.6rem);
  height: 7.5rem;
  text-align: center;
  font-size: 3.2744rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #000000;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ed4747;
  border-radius: 2.7768rem;
  flex-shrink: 0;
  position: relative;
  left:-100px;
  top:-140px;
  cursor: pointer;
  transform: scale(0.8);
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV {
  box-sizing: border-box;
  /* padding-bottom: 0.6rem; */
  width: 37.9rem;
  height: 649px;
  background-color: rgba(31, 24, 24, 0.6899999976);
  flex-shrink: 0;
  position: relative;
  top:0px;  
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV .chat-room-gyb {
  margin: 0rem 0rem 2rem 9.5rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #ffffff;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;

}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV .usernam1-hello-DmX {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Nunito;
  /* white-space: nowrap; */
  box-sizing: border-box;
  word-wrap:break-word;
  overflow-wrap: break-word;
  /* height:fit-content; */
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV .username2-hello-bro-96V {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV .usernam1-hello-GB7 {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV .username2-hello-bro-mdf {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV .usernam1-hello-tTP {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV .username2-hello-bro-cPP {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV .usernam1-hello-Y29 {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV .username2-hello-bro-GD3 {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV .usernam1-hello-PoT {
  margin: 0rem 0rem 2.5rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV .username2-hello-bro-vYV {
  margin: 0rem 0rem 6.6rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3775;
  color: #fbf3f3;
  font-family: Spicy Rice, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-gxM .auto-group-49mm-bT3 .auto-group-skfq-yJV .auto-group-5c4j-rBF {
  box-sizing: border-box;
  padding: 3.4rem 1.4rem 2.6rem 1.4rem;
  width: 38.1rem;
  font-size: 2.4rem;
  font-weight: 10;
  line-height: 1.3775;
  color: #0f0f0f;
  font-family: Roboto Mono;
  white-space: nowrap;
  background-color: #f9f9f9;
  /* border-radius: 1rem; */
  position: relative;
  bottom: -30px;
  height: 80px;
  outline: none;
}
.chat::-webkit-scrollbar {
  display: none;
}